@using System.Web.Optimization

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OWIN Refresh Token sample application</title>

    <link href="Content/bootstrap.css" rel="stylesheet" />

    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>

</head>
<body ng-app="sampleApp">

    <div class="container">
        <ng-view></ng-view>
    </div>

    @Scripts.Render("~/bundles/angular")
</body>
</html>
